<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RotaEasy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css"/>

    @RenderSection("Styles", required: false)
</head>
<body style="background-color: white;">
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #667F97; color: white; text-align: center;">
            <a class="navbar-brand" asp-page="/Dashboard" style="color: white; font-size:x-large;">
                <img src="~/img/Logo.png" width="75" height="75" alt="RotaEasy Logo" loading="lazy" />
            </a>

            <div class="form-inline">
                @*TITLE*@
                @RenderSection("PageTitle", false)
            </div>

            <div class="btn-group dropleft">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-toggler-icon" style="color:white"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-page="/Index">Home</a>
                    <a class="dropdown-item" asp-page="/EmployeeShifts/Index">Your Shifts</a>
                    <a class="dropdown-item" asp-page="/StoreShifts">Store Shifts</a>
                </div>
            </div>

        </nav>

    </header>


    @*<div class="container">*@
        <main role="main" class="container">
            @RenderBody()
        </main>
    @*</div>*@


    @*BACK BUTTON --> TAKES YOU TO DASHBOARD*@
    <div>
        <a asp-page="/Dashboard">
            <img src="~/img/back icon.jpg" width="50" height="50" style="float:right; margin: 10px; padding: 10px;" />
        </a>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white;">
        <div class="container">
            &copy; 2022 - RotaEasy - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
