@page
@model COMP3000RotaEasy.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].HomeAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Ethnicity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].NoHolHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ethnicity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHolHours)
            </td>
            <td>
                <a asp-page="./Users/Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Users/Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Users/Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
