@page
@model COMP3000RotaEasy.Pages.TimetableShifts.IndexModel

@{
    ViewData["Timetable"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="/lib/fullcalendar-scheduler-5.11.0/lib/main.css">
}

@section Scripts {
    <script src="/lib/fullcalendar-scheduler-5.11.0/lib/main.js"></script>
}

<script>
    //intialise week view
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek'
        });
        calendar.render();
    });

</script>

<h2 style="font-family:'Times New Roman'; color:white; text-align: left;">STORE TIMETABLE</h2>

<p>
    <a asp-page="Create">Add Shift</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].ShiftDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shifts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ShiftId"><i class="fa fa-pencil-square-o">Edit</i></a> |
                    <a asp-page="./Details" asp-route-id="@item.ShiftId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ShiftId"><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div style="border-radius: 25px; background-color: #475F6D; margin:30px; margin-top: 10px; margin-bottom: 10px;" class="card">
    <div style="padding:10px; margin:10px; color:white;">

        <h2 style="font-family:'Times New Roman'; color:white; text-align: left;">STORE TIMETABLE</h2>

        <div style="text-align:right; margin: 10px;">
            <button class="btn-lg" style="background-color: #54A3FF; color:white; font-family: 'Times New Roman'; border-radius:15px; padding:10px; margin:5px; border:none;" type="button">EDIT</button>
            <button class="btn-lg" style="background-color: #54A3FF; color:white; font-family: 'Times New Roman'; border-radius:25px; padding:10px; margin:5px; border:none;" type="button">REGENERATE</button>
        </div>
        <div class="table-responsive" style="background-color: #5B7787; padding:15px; border-radius:25px">
            <table class="table table-bordered table-hover" style="color:white; text-align:center; padding: 5px; border-radius: 25px;">
                <thead>
                    <tr>
                        <th scope="col">Employee No.</th>
                        <th scope="col">Colleague Name</th>
                        <th scope="col">Contracted Hrs</th>
                        <th scope="col" colspan="7" style="text-align:center">Date</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Aksa</td>
                        <td>49</td>
                        <td></td>
                        <td>6 - 15</td>
                        <td>6 - 15</td>
                        <td></td>
                        <td>10 - 18</td>
                        <td>15 - 23</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>James</td>
                        <td>12</td>
                        <td>10 - 16</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>15 - 23</td>
                        <td>19 - 23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div id="calendar">

</div>
